@charset 'utf-8';
/**** 模板页样式*****/
/***** 页眉 ****/
._erp_header{height:105px;position:relative;}
.header{height:50px;background-color:#567ece;box-shadow: 0 1px 5px #ccc;}
._logo{float:left;width:170px;height:50px;line-height:50px;}
._logo img{vertical-align:middle}
._login_user_info{height:50px;line-height:50px;font-size:14px;}
._login_user_info ._right{margin:0 5px;}
._login_tec{height:50px;}
._login_tec img{height:30px;width:30px;border-radius:30px;vertical-align:middle;}
._login_tec span{color:#fff;}
._login_name{color:#85adfe;}
._login_out{color:#b9c2d6;}
._login_split{color:#dbdbdb;}
/**** 页躯 ****/
._content_render_panel{margin:0 12px;border:1px solid #d5dcea;background-color:#fff;}
/***** 侧面菜单 *****/
._side_menu_block{float:left;margin-top:12px;font-size:15px;color:#fff;}
._side_menu_block .menu_item{margin-right:15px;float:left;}
.menu_item ._block_menu{padding:0 18px;background-color:#618ade;line-height:38px;border-radius:5px 5px 0 0;}
.menu_item .child_wrap{display:none;position:absolute;top:50px;left:0;}
._block_menu{padding-left:15px;}
.child_wrap .child_menu{float:left;text-align:center;margin:0 30px;}
.child_wrap .child_menu a{font-size:15px;line-height:55px;display:block;color:#000;}
.child_wrap .child_menu a.cur_menu{color:#85adfe;border-bottom:1px solid #85adfe;font-weight:bold;}
._block_menu a{display:block;text-align:left;}
._block_menu a img{vertical-align:middle;border:none;*border:0;}
._block_menu a span{color:#e5ebf9;font-size:15px;padding-left:8px;background-position:0 4px;background-repeat:no-repeat}
._block_menu a span.icon{padding-left:0px;float:left;width:16px;height:16px;background-position:top;background-repeat:no-repeat;margin-top: 12px}
._block_menu a span.m1{background-image:url(/Content/imgs/template/pro.png);}
._block_menu a span.m2{background-image:url(/Content/imgs/template/customer.png);}
._block_menu a span.m3{background-image:url(/Content/imgs/template/order.png);}
._block_menu a span.m4{background-image:url(/Content/imgs/template/product.png);}
._block_menu a span.m5{background-image:url(/Content/imgs/template/storge.png);}
._block_menu a span.m6{background-image:url(/Content/imgs/template/finance.png);}
._block_menu a span.m7{background-image:url(/Content/imgs/template/system.png);}
.open a span.icon{background-position:0 -16px;}
.open ._block_menu a span{color:#fff;font-weight:bold}
.open  .child_wrap{display:block;}
.open ._block_menu{background-color:#85adfe;}