@using YNDIY.API.Models
@{
    ViewBag.Title = "已安排生产订单";
    Layout = "~/Views/Shared/ERPTemplate.cshtml";
}
@section require_js{
    <script src="@Path.getJsPath()/require.js" data-main="@Path.getJsPath()/app/product/ArrangedList"></script>
}
<div class="_clear_panel _search_banner ">
    <div class=" form_group _clear_panel">
        <label>生产日期：</label>
        <div class="_left _filter_item">
            <a href="javascript:void(0);" class="_date_page _my_prev ">前一天</a>
        </div>
        <div class="_left _filter_item">
            <a href="javascript:void(0);" class="_search_date " id="start_date"></a>
        </div>
        <div class="_left _filter_item">
            <a href="javascript:void(0);" class="_date_page _my_next ">后一天</a>
        </div>
    </div>
    <div class="_btns _right">
        <a href="javascript:;" class="_btn green _left"><img src="/Content/imgs/btn_icon/new.png">批量打印交接单</a>
    </div>
</div>
<div class="_ajax_container"></div>
<!-- 制定生产计划面板-->
<div class="_pop_window plan_con">
    <div class="_pop_opacity_bg"></div>
    <div class="_pop_block" style="width: 600px; height:420px; margin-left: -300px; margin-top: -210px;">
        <div class="_pop_title">
            <span>制定生产计划</span>
            <a href="javascript:void(0);" class="_pop_close"><span>×</span></a>
        </div>
        <div class="_pop_body ">
            <div class="pop_con">
                <table class="_list_table order_info">
                    <thead>
                        <tr>
                            <td>品牌</td>
                            <td>产品名称</td>
                            <td>产品型号</td>
                            <td>产品规格</td>
                            <td>产品颜色</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>品牌</td>
                            <td>产品名称</td>
                            <td>产品型号</td>
                            <td>产品规格</td>
                            <td>产品颜色</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pop_con">
                    <div class="form_item">
                        <span class="tip">下单日期：</span>
                        <input type="text" placeholder="生产下单日期" id="out_date">
                    </div>
                    <div class="form_item">
                        <span class="tip">客户名称：</span>
                        <input type="text" placeholder="客户名称">
                    </div>
                    <div class="form_item">
                        <span class="tip">交货日期：</span>
                        <input type="text" placeholder="生产交货日期" id="out_date1">
                    </div>
                    <div class="form_item">
                        <span class="tip">数量：</span>
                        <input type="text" placeholder="请填写生产数量" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="    this.value = this.value.replace(/\D/g, '')">
                    </div>
                    <div class="form_item">
                        <span class="tip">计划说明：</span>
                        <input type="text" placeholder="生产计划说明">
                    </div>
                </div>
            </div>
            <div class="_clear_panel">
                <a href="javascript:void(0);" class="_btn blue _right cancle">取消</a>
                <a href="javascript:void(0);" class="_btn blue _right right sub_mit">提交</a>
            </div>
        </div>
    </div>
</div>