@using YNDIY.API.Models
@{
    ViewBag.Title = "产品库存";
    Layout = "~/Views/Shared/ERPTemplate.cshtml";
}
@section require_js{
    <script src="@Path.getJsPath()/require.js" data-main="@Path.getJsPath()/app/store/ProductStore"></script>
}
<div class="_clear_panel _search_banner ">
    <div class="form_group" style="position:relative;width:175px;">
        <label>产品品牌：</label>
        <div class="_search_filter ">
            <div class="_select_prev">
                <span class="_select_text" style="line-height:32px;">全部</span>
                <div class="_select_down"><img src="/Content/imgs/template/_select_dowm.png"></div>
            </div>
            <select class="_opacity_select select_load brandId">
                <option value="-1">全部</option>
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
    </div>
    <div class="form_group">
        <span class="gen"></span>
    </div>
    <div class="form_group">
        <input type="text" placeholder="产品型号" class="search_input">
        <a href="javascript:void(0);" class="search_btn">
            <div id="cross" class="cross"></div>
           
        </a>
    </div>
</div>
<div class="_ajax_container"></div>
<!-- 调拨库存面板-->
<div class="_pop_window plan_con">
    <div class="_pop_opacity_bg"></div>
    <div class="_pop_block" style="width:700px; height: 450px; margin-left: -350px; margin-top: -225px;">
        <div class="_pop_title">
            <span>调拨库存面板</span>
            <a href="javascript:void(0);" class="_pop_close"><span>×</span></a>
        </div>
        <div class="_pop_body ">
            <div class="pop_con" style="height:330px;overflow-y:auto;overflow-x:hidden;">
                <div class="_clear_panel">
                    <div class="form_group">
                        <label>产品型号：</label>
                        <input type="text" placeholder="请输入产品型号" class="search_input">
                        <a href="javascript:void(0);" class="search_btn">
                            <div id="cross" class="cross"></div>
                           
                        </a>
                    </div>
                </div>
                <div class="pop_con">
                    <table class="_list_table pro_tab">
                        <thead>
                            <tr>
                                <td>选择</td>
                                <td>品牌</td>
                                <td>名称</td>
                                <td>型号</td>
                                <td>规格</td>
                                <td>颜色</td>
                                <td>单位</td>
                                <td>包号</td>
                                <td>可调拨数量</td>
                                <td>调拨数量</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="_clear_panel">
                <a href="javascript:void(0);" class="_btn blue _right  cancle">取消</a>
                <a href="javascript:void(0);" class="_btn blue _right right sub_mit">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- 盘点面板-->
<div class="_pop_window allot_con">
    <div class="_pop_opacity_bg"></div>
    <div class="_pop_block" style="width: 600px; height:410px; margin-left: -300px; margin-top: -205px;">
        <div class="_pop_title">
            <span>盘点</span>
            <a href="javascript:void(0);" class="_pop_close"><span>×</span></a>
        </div>
        <div class="_pop_body ">
            <div class="pop_con">
                <table class="_list_table head_info">
                    <thead>
                        <tr>
                            <td>品牌</td>
                            <td>名称</td>
                            <td>型号</td>
                            <td>规格</td>
                            <td>颜色</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="_td_10 _over_text">名称</td>
                            <td class="_td_10 _over_text">品牌</td>
                            <td class="_td_20 _over_text">型号</td>
                            <td class="_td_20 _over_text">规格</td>
                            <td class="_td_10 _over_text">颜色</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pop_con">
                <table class="_list_table head_info">
                    <thead>
                        <tr>
                            <td >包号</td>
                            <td>原库存量</td>
                            <td>盘点数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bag_num">包号</td>
                            <td>原库存量</td>
                            <td><input type="text" class="_input_area" placeholder="盘点数量" onkeyup="this.value = this.value.replace(/\D/g, '')" onafterpaste="this.value = this.value.replace(/\D/g, '')"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pop_con">
                <div class="form_item">
                    <span class="tip">备注：</span>
                    <textarea class="tip_txt"></textarea>
                </div>
            </div>
            <div class="_clear_panel">
                <a href="javascript:void(0);" class="_btn blue _right cancle">取消</a>
                <a href="javascript:void(0);" class="_btn blue _right right sub_mit">提交</a>
            </div>
        </div>
    </div>
</div>