body,html {margin:0;padding:0;font-family:'Microsoft YaHei';background-color:#e6e6e6;font-size:16px;}
input{font-family:'Microsoft YaHei';}
*{margin:0;padding:0;}
ul,li{list-style:none;}
table{background-color:#FFF;}
a{text-align:center;text-decoration:none;}
a img{border:none;}
._left{float:left;}
._right{float:right;}
._clear{height:0;width:0;font-size:0;line-height:0;clear:both;}
._clear_panel{overflow:hidden;*zoom:1;}
._file_input_opacity{opacity:.0;filter:alpha(opacity=0);font-size:3000px;position:absolute;top:0;right:0;outline:none;cursor:pointer;}
._opacity_select{position:absolute;display:block;border:none;height:100%;width:100%;opacity:.0;filter:alpha(opacity=0);top:0;left:0;cursor:pointer;-webkit-appearance:none;}
._opacity_select_icon{background-image:url(/Content/imgs/template/select_down.png);background-repeat:no-repeat;background-position-x:right;background-position-y:center;background-size:25px 10px;}
._opacity_select_icon img,._opacity_select_icon span{display:inline;vertical-align:middle;}
._opacity_select_icon img{margin-right:2px;}
._split_block{background-color:#FFF;padding:20px;}
/**** 错误提示文字 ****/
._red_font{color:#F00;font-style:normal;font-weight:bold;}
/***** 定位 *****/
._relative{position:relative;}
._absulute{position:absolute;}
._margin_top_1{margin-top:1px;}
._margin_top_10{margin-top:10px;}
._margin_top_20{margin-top:20px;}
._padding_top_20{padding-top:20px;}
._vertical_top{vertical-align:top;}

/**** 比例宽高 *****/
._height_percent_100{height:100%;}
._width_percent_10{width:10%;height:100%;}
._width_percent_15{width:15%;height:100%;}
._width_percent_20{width:20%;height:100%;}
._width_percent_25{width:25%;height:100%;}
._width_percent_30{width:30%;height:100%;}
._width_percent_33{width:33.3333333%;height:100%;}
._width_percent_35{width:35%;height:100%;}
._width_percent_40{width:40%;height:100%;}
._width_percent_45{width:45%;height:100%;}
._width_percent_50{width:50%;height:100%;}
._width_percent_60{width:60%;height:100%;}
._width_percent_66{width:66.6666666%;height:100%;}
._width_percent_65{width:65%;height:100%;}
._width_percent_70{width:70%;height:100%;}
._width_percent_75{width:75%;height:100%;}
._width_percent_80{width:80%;height:100%;}
._width_percent_90{width:90%;height:100%;}
._width_percent_100{width:100%;height:100%;}
/***** 模拟表格 *****/
._td_TL{border:1px solid #e5e5e5;border-right:none;border-bottom:none;}
._td_BR{border:1px solid #e5e5e5;border-top:none;border-left:none;}

/***** 弹出框 *****/
._pop_window{position:fixed;top:0;right:0;bottom:0;left:0;display:none;z-index:100;}
._opacity_bg{position:absolute;top:0;right:0;bottom:0;left:0;background-color:#000;opacity:.5;filter: alpha(opacity=50);}
._pop_title{height:49px;display:block;line-height:50px;text-align:center;color:#595959;font-size:18px;background-color:#f5f5f5;position:relative;border-bottom:1px solid #e5e5e5;}
._pop_close{position:absolute;top:0;right:0;height:50px;width:50px;display:block;color:#d2d2d2;font-size:40px;line-height:45px;}
._pop_close span{color:#d2d2d2;}
._pop_container_panel{position:absolute;top:50px;right:0;bottom:0;left:0;}
._pop_container{position:absolute;top:10px;right:10px;bottom:10px;left:10px;overflow-x:hidden;overflow-y:auto;}

/******** 加载 *******/
._loading{width:100%;height:100%;position:fixed;top:0;left:0;display:none;z-index:99999;}
._loading_opacity_bg{background:#000;opacity:.4;-khtml-opacity:0.4;filter:alpha(opacity=40);position:absolute;top:0;left:0;width:100%;height:100%;}
._loading_img{position:absolute;width:100%;height:100%;top:0;left:0;}
._loading_img img{width:40px;height:40px;position:absolute;top:50%;left:50%;display:block;margin-top:-20px;margin-left:-20px;}

/****** 文字样式 ******/
._text_overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/***** 通用表格样式 *****/
._normal_table{width:100%;}
._normal_table thead{height:50px;line-height:50px;text-align:center;color:#FFF;font-size:18px;background-color:#909090;}
._normal_table,._normal_table tr,._normal_table td{border-collapse:collapse;border:1px solid #909090;}
._normal_table tbody td{line-height:45px;text-align:center;}
._max_width_100_td{display:block;max-width:100px;height:45px;margin:0 auto;}
._max_width_140_td{display:block;max-width:140px;height:45px;margin:0 auto;}
._max_width_200_td{display:block;max-width:200px;height:45px;margin:0 auto;}

/***** 表格数据前后翻页 *****/
._page_btns{margin-top:20px;text-align:center;}
._page_btns a{display:inline-block;width:120px;height:40px;line-height:40px;border:1px solid #909090;/*background-color:#007acc;border-radius:6px;*/margin:0 20px;}
._page_btns a:hover{background-color:#909090;}
._page_btn span{color:#626262;font-size:18px;}
._page_btns a:hover span{color:#FFF;}

._body_panel{width:100%;min-width:768px;height:100%;}
._head_bar{position:relative;}
._head_bar::after{content:"";height:0;width:0;font-size:0;line-height:0;clear:both;}
._head_logo{/*background:#626262;*/color:#FFF;font-weight:bold;display:block;height:100%;width:300px;}
._head_link{display:block;width:30%;height:100%;text-align:right;}
._head_a_link{display:inline;width:25%;height:80%;line-height:100%;border:1px solid #626262;color:#626262;border-radius:8px;margin:0 5px;}
._user_info{display:block;width:320px;height:100%;color:#626262;text-align:center;}
._user_info a{display:inline-block;}
._user_photo{display:block;height:100%;border-radius:100px;}
._user_photo img{display:block;width:100%;height:auto;margin:7.5px 0;border-radius:100px;}
._user_shop_name{color:#626262;width:70%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
._logout{margin-right:20px;}
._user_name{width:60px;overflow:hidden;text-overflow:ellipsis;}
._logout span,._user_name span{color:#626262;}
._split_vertical{margin:0 10px;color:#dbdbdb;}
._shop_info{width:150px;}

/*._login_body_container{background-color:#e6e6e6;}*/
._body_container{display:block;background-color:#FFF;overflow-x:hidden;margin:10px 10px 0 10px;/*position:absolute;left:20px;right:20px;bottom:0;overflow-y:auto;*/}
._side_bar{width:230px;/*position:absolute;top:0;left:0;bottom:0;position:relative;*/background-color:#FFF;min-height:600px;  border-right: #e6e6e6 10px solid;  border-bottom: #e6e6e6 1px solid;}
._hide_scroll_y_side_bar{position:absolute;top:0;right:2px;bottom:0;left:0;overflow:hidden;}
._side_bar_render{/*position:absolute;top:0;right:-22px;bottom:0;left:0;overflow-x:hidden;overflow-y:auto;*/}
._side_split_line{position:absolute;top:0;right:0;bottom:0;width:2px;background:-webkit-linear-gradient(top,#69e7b4,#57bdff,#74a1f7,#ce88d7,#ff85a7,#ffaa25);background:-moz-linear-gradient(top,#69e7b4,#57bdff,#74a1f7,#ce88d7,#ff85a7,#ffaa25);}
._side_bar_menu_width li{padding-bottom:10px;}

._body_content{background-color:#FFF;padding:20px;margin-left:240px;min-height:560px;}
._main_body_margin{}
/****左侧菜单****/
._fold_menu_panel{height:60px;}
._side_menu_close ._menu_close{display:block;}
._side_menu_close ._menu_open{display:none;}
._side_menu_open ._menu_close{display:none;}
._side_menu_open ._menu_open{display:block;}
._side_menu_fold{display:block;position:absolute;top:10px;right:40px;border:2px solid #909090;border-radius:100%;width:50px;height:50px;line-height:40px;font-size:50px;}
._side_menu_fold span{color:#909090;}
._menu_in ._up,._menu_in ._out_img{display:none;}
._menu_out ._down,._menu_out ._in_img{display:none;}
._menu_in{color:#b4b4b4;background-color:#FFF;;font-size:16px;}
._menu_out{color:#FFF;background-color:#626262;}
._up,._down,._up_a{display:block;position:absolute;top:18px;right:20px;width:20px;height:22px;}
._up,._up_a{top:10px;}
._down_1{position:absolute;top:2px;left:0;height:0;width:0;border:10px solid transparent;border-top-color:#bbb;}
._down_2{position:absolute;top:0px;left:0;height:0;width:0;border:10px solid transparent;border-top-color:#FFF;}
._up_1,._up_a_1{position:absolute;top:0px;left:0;height:0;width:0;border:10px solid transparent;border-bottom-color:#FFF;}
._up_2,._up_a_2{position:absolute;top:2px;left:0;height:0;width:0;border:10px solid transparent;border-bottom-color:#626262;}
._up_a{display:none;}
._up_a_1{border-bottom-color:#bbb;}
._up_a_2{border-bottom-color:#FFF;}
._show_select ._down{display:none;}
._show_select ._up_a{display:block;}
._menu_item{display:block;width:auto;height:50px;font-size:18px;line-height:50px;cursor:default;position:relative;text-align:left;text-indent:60px;}
._item_imgs{display:block;height:50px;width:40px;position:absolute;left:20px;top:-3px;}
._item_imgs img{display:inline-block;vertical-align:middle;}
._ver_mid{display:inline-block;width:1px;height:50px;vertical-align:middle;}
._x_icon{display:block;position:absolute;left:20px;top:10px;}
/**** 子菜单 ****/
._menu_sub_items{/*width:80%;margin:0 auto;display:none;*/}
._show_subitem ._menu_sub_items{display:block;}
._menu_sub_items a{display:block;text-align:left;text-indent:60px;height:40px;line-height:40px;color:#323232;font-size:16px;}
._menu_sub_items a:hover{background-color:#F0F8FF;color:#7bb6ff;}
._menu_sub_items ._crt_sub_item_page,._menu_sub_items ._crt_sub_item_page:hover{background-color:#85adfe;color:#FFF;}
._crt_sub_item_page span{color:#FFF;}

/***** 停靠悬浮框 *****/
._anchor_block{width:3px;position:fixed;top:0;right:0;bottom:0;background-color:#bfbfbf;}
._anchor_menus{min-height:40px;position:absolute;width:38px;bottom:200px;left:-38px;}
._anchor_item{width:38px;height:40px;overflow:hidden;display:block;line-height:40px;position:absolute;right:0;background-color:#bfbfbf;}
._anchor_item_clicked{background-color:#85adfe;}
._anchor_item:hover{width:115px !important;background-color:#85adfe;}
._anchor_item div{width:115px;height:40px;line-height:38px;position:absolute;right:0;}
._anchor_item div *{vertical-align:middle;}
._anchor_item div span{margin-right:6px;}
._anchor_item span{color:#FFF;}
._open_anchor{width:360px;}
._anchor_container{position:absolute;top:40px;right:0;bottom:0;left:3px;background-color:#eaeaea;display:none;}
._anchor_title{position:absolute;top:0;right:0;left:3px;height:40px;background-color:#f6f6f6;display:none;}
._open_anchor ._anchor_container,._open_anchor ._anchor_title{display:block;}
._anchor_icon{position:absolute;display:block;width:40px;height:40px;top:0;left:10px;}
._anchor_icon img{display:block;width:50%;height:auto;margin:8px auto;}
._anchor_title_text{position:absolute;display:block;height:40px;top:0;left:60px;color:#94979e;line-height:40px;}
._anchor_close{position:absolute;width:40px;height:40px;top:0;right:0;line-height:35px;font-size:30px;}
._anchor_close span{color:#94979e;}
/**** 备注列表 ****/
._anchor_remark_list{position:absolute;top:0;right:0;bottom:150px;left:0;overflow-x:hidden;overflow-y:auto;}
._anchor_add_order_remark_panel{display:block;position:absolute;height:149px;background:#FFF;left:0;right:0;bottom:0;border-top:1px solid #dedede}
._anchor_add_order_remark_panel textarea{display:block;position:absolute;resize:none;top:0;width:100%;bottom:40px;left:0;border:none;line-height:20px;}
._anchor_add_order_remark_btn{display:block;height:40px;line-height:40px;position:absolute;left:0;right:0;bottom:0;background-color:#85adfe;}
._anchor_add_order_remark_btn span{color:#FFF;font-size:16px;}
._anchor_remark_item{margin:5px 20px;}
._anchor_remark_title{color:#85adfe;font-size:14px;line-height:30px;}
._anchor_remark_name{margin-right:10px;}
._remark_text{position:relative;font-size:14px;color:#494949;margin:0 20px;padding:7px;word-break:break-all;background-color:#FFF;border-radius:0 6px 6px 6px;}
._remark_text:before{content:"";display:block;width:0;height:0;border:5px solid #FFF;border-left-color:transparent;border-bottom-color:transparent;position:absolute;top:0;left:-10px;}



/*** ie 兼容 ***/
._head_bar{display:block;width:100%;height:60px;background:#FFF;}
._head_logo{width:260px;}
._small_logo,._big_logo{display:block;margin:0 auto;}
._small_logo{display:none;}
._head_logo,._head_link{line-height:60px;}
._head_a_link{padding:10px 15px;}
._user_photo{width:30%;}
._user_info{line-height:60px;}
._mail_info img{margin-top:30px;}
._body_container{top:80px;}

/**** 部件、面料、备注详情 ****/
._detail_list_title{height:30px;line-height:30px;display:block;background-color:#fcfcfc;border:1px dashed #ccc;border-left:none;border-right:none;margin:2px 0;text-align:center;color:#626262;font-size:15px;}
._detail_parts_list span{line-height:26px;padding:0 10px;color:#909090;font-size:15px;}
._detail_fabric_list span{line-height:26px;padding:0 10px;color:#909090;font-size:15px;}
._detail_remark_content{padding:5px;color:#909090;line-height:26px;font-size:15px;}
._detail_parts_list,._detail_fabric_list{padding:2px;}
._detail_parts_list,._detail_fabric_list,._detail_remark_content{background-color:#FFF;}


/*** 新版表单 ***/
._new_table_panel{margin-top:20px;}
._new_table_title{height:40px;line-height:40px;background:#f5f5f5;color:#7f7f7f;font-size:14px;border:1px solid #e5e5e5;border-bottom:none;}
.title_item{margin-left:20px;}
._table_info{width:100%;}
._table_info,._table_info tbody tr,._table_info thead td,._table_info tbody td{height:40px;line-height:40px;text-align:center;border:1px solid #e9e9e9;color:#656565; border-collapse:collapse;font-size:14px;}
._table_info thead td{color:#a0a0a0;}
._new_table_title tr td{color:#7a7a7a;border:none;}
._table_info tbody td.order_img{line-height:0;}
._table_info tbody td.order_img img{width:64px;}
.btn_oparate a{display:block;color:#7bb6ff;}
.btn_oparate a:hover{background-color:#F0F8FF;}
._td_0{max-width:110px;}
._td_1{max-width:70px;}
._td_2{max-width:460px;}
._td_3{max-width:170px;}
.unique .btn_oparate a{display:block;color:#51e3a8}
/**** 新版搜索框 ****/
._search_line{height:42px;position:relative;}
._input_search{position:absolute;left:0;top:0;right:210px;bottom:0;border:1px solid #e5e5e5;}
._keywords_input{display:block;position:absolute;top:0;right:41px;bottom:0;left:0;}
._keywords_input input{border:none;line-height:40px;text-indent:20px;font-size:16px;color:#7d7d7d;display:block;width:100%;height:100%;}
._btn_keywords_search{display:block;position:absolute;width:40px;height:40px;border-left:1px solid #e5e5e5;top:0;right:0;bottom:0;}
._btn_keywords_search img{display:block;max-width:18px;max-height:18px;height:auto;width:auto;margin:11px auto;}
._btn_keywords_search:hover{background-color:#e5e5e5;}
._select_search{position:absolute;top:0;right:0;bottom:0;width:190px;border:1px solid #e5e5e5;}
._select_text{display:block;width:149px;height:40px;line-height:40px;text-align:center;color:#7d7d7d;font-size:16px;}
._select_icon{display:block;width:40px;height:40px;border-left:1px solid #e5e5e5;}
._select_icon img{display:block;max-width:18px;max-height:18px;height:auto;width:auto;margin:15px auto;}
/**表单百分比定宽***/
._tr_col_5{width:5%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_10{width:10%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_15{width:15%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_20{width:20%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_25{width:25%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_30{width:30%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_40{width:40%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_50{width:50%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_60{width:60%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
._tr_col_70{width:70%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/*._td_0,._td_1,._td_2,._td_3,._td_4,._td_5,._td_6,._td_7{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}*/

