@using YNDIY.API.Models;
@{
}
<table class="_list_table">
    <thead>
        <tr>
            <td>图片</td>
            <td>产品名称</td>
            <td>品牌</td>
            <td>型号</td>
            <td>规格</td>
            <td>颜色</td>
            <td>单位</td>
            <td>标准单价</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="/Content/imgs/erp/process/login_bg.png" class="tab_img"></td>
            <td><a href="javascript:;" class="view" _id="5388">产品名称</a></td>
            <td>品牌</td>
            <td>型号</td>
            <td>规格</td>
            <td>颜色</td>
            <td>单位</td>
            <td>标准单价</td>
            <td class="_td_20 _over_text">备注</td>
            <td class="_more_options">
                <div class="_more_btn _relative _relative_zindex_1">
                    <a href="javascript:void(0);" class="_show_more"><img src="/Content/imgs/template/_select_dowm.png"></a>
                    <div class="_more_btns">
                        <a href="/ERPBrand/EditProduct?id=5620"><span>编辑产品</span></a>
                        <a href="javascript:void(0);" class="edit_part" _id="5620"><span>编辑部件</span></a>
                        <a href="/ERPBrand/EditBag?id=5620"><span>编辑包号</span></a>
                        <a href="/ERPBrand/EditProcedure?id=5620" class="del" _id="5620"><span>编辑工序</span></a>
                        <a href="javascript:void(0);" class="del" _id="5620"><span>删除</span></a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>