@using YNDIY.API.Models
@{
    ViewBag.Title = "品牌列表";
    Layout = "~/Views/Shared/ERPTemplate.cshtml";
}

@section require_js{
    <script src="@Path.getJsPath()/require.js" data-main="@Path.getJsPath()/app/brand/BrandList"></script>
}
<div class="_clear_panel _search_banner">
    <div class="form_group">
        <label>品牌名称：</label>
        <input type="text" placeholder="品牌名称" class="search_input">
        <a href="javascript:void(0);" class="search_btn">
            <div id="cross" class="cross"></div>
           
        </a>
    </div>
    <div class="_btns _right">
        <a href="javascript:;" class="_btn green _left"><img src="/Content/imgs/btn_icon/new.png">新建品牌</a>
    </div>
</div>
<div class="_ajax_container"></div>
<!-- 新建品牌面板-->
<div class="_pop_window new_brand_con ">
    <div class="_pop_opacity_bg"></div>
    <div class="_pop_block" style="width: 500px; height: 273px; margin-left: -250px; margin-top: -136.5px;">
        <div class="_pop_title _none_list_data">
            <span><span class="inven_title">新建品牌</span></span>
            <a href="javascript:void(0);" class="_pop_close"><span>×</span></a>
        </div>
        <div class="_pop_body _clear_panel">
            <div class="pop_con _clear_panel">
                <div class="form_item">
                    <span class="tip">品牌名称：</span>
                    <input type="text" placeholder="品牌名称" class="sub_num">
                </div>
                <div class="form_item">
                    <span class="tip">备注：</span>
                    <textarea class="tip_txt"></textarea>
                </div>
            </div>
            <div class="_clear_panel">
                <a href="javascript:void(0);" class="_btn blue _right cancle">取消</a>
                <a href="javascript:void(0);" class="_btn blue _right right sub_mit">提交</a>
            </div>
        </div>
    </div>
</div>